@font-face {
  font-family: App;
  src: $ol-font-family-light-src;
  font-weight: 200;
  font-display: auto;
}

@font-face {
  font-family: App;
  src: $ol-font-family-regular-src;
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: App;
  src: $ol-font-family-bold-src;
  font-weight: bold;
  font-display: auto;
}
