@import "~assets/stylesheets/base/_common.scss";

.wrapper {
  font: inherit;
}

.container {
  font: inherit;
}

.background {
  font: inherit;
}

.contentContainer {
  font: inherit;
}

.content {
  font: inherit;
}
