// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLORS
$ol-whiteColor: #fff !default;
$ol-blackColor: #000000 !default;

$ol-silverColor: #8f8f8f !default;
$ol-cloudyGrayColor: #c9c9c9 !default;
$ol-lightGrayColor: #eeeeee !default;

$ol-errorBackgroundColor: #d9534f !default;
$ol-errorTextColor: #fff !default;

$ol-primaryColor: #9400d3 !default;
$ol-primaryColor-dark: darken($ol-primaryColor, 15%) !default;
$ol-primaryColor-light: lighten($ol-primaryColor, 15%) !default;

$ol-secondaryColor: #ff2400 !default;
$ol-secondaryColor-opacity: rgba(0, 0, 0, 0.5) !default;
$ol-secondaryColor-dark: darken($ol-secondaryColor, 15%) !default;

$ol-auxiliaryColor: #bb4f2d !default;
$ol-actionColor: $ol-blackColor !default;

$ol-successColor: #90fa3a !default;
$ol-successColor-dark: darken($ol-successColor, 60%) !default;

$ol-infoColor: #eeeb4a !default;
$ol-infoColor-dark: darken($ol-infoColor, 60%) !default;

$ol-errorColor: #fc4a3e !default;
$ol-errorColor-dark: darken($ol-errorColor, 60%) !default;

$ol-openColor: $ol-blackColor !default;
$ol-openingSoonColor: #777777 !default;
$ol-closingSoonColor: #777777 !default;
$ol-closedColor: #777777 !default;

// FONTS
$ol-font-family-primary: App, "Helvetica", "Arial", "sans-serif" !default;

$ol-font-family-light-src: url("~assets/stylesheets/fonts/default-light.woff2") format("woff2"), url("~assets/stylesheets/fonts/default-light.woff") format("woff") !default;
$ol-font-family-regular-src: url("~assets/stylesheets/fonts/default-regular.woff2") format("woff2"), url("~assets/stylesheets/fonts/default-regular.woff") format("woff") !default;
$ol-font-family-bold-src: url("~assets/stylesheets/fonts/default-bold.woff2") format("woff2"), url("~assets/stylesheets/fonts/default-bold.woff") format("woff") !default;

// BREAKPOINTS
$breakpoints: (
  "xs": (
    max-width: 575px,
  ),
  "sm": (
    max-width: 768px,
  ),
  "md": (
    max-width: 992px,
  ),
  "lg": (
    max-width: 1200px,
  ),
  "xl": (
    max-width: 1600px,
  ),
  "xxl": (
    min-width: 1601px,
  ),
) !default;
